<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Get Users</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

                <h2>Welcome</h2>
                <br />
                <a href="/admin/admin">admin</a><br />
                <a href="/shopping/shopping">shopping</a><br />

                <form th:action="@{/logout}" method="post" id="logoutForm">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
                </form>

            <br />
            <div sec:authorize="isAuthenticated()">
                if authenticated you should see this, we are using Thymeleaf isAuthenticated()
            </div>
            <br />
            <div sec:authorize="hasAuthority('USER') || hasAuthority('SHOPPING')">
                This content is only shown to users.
            </div>

            <br />
            <div th:text="#{name}"> authentication</div>
            <div th:text="${#authorization}"> authorization</div>
            <br />
            Logged user: <span sec:authentication="name">Dummy Account</span><br />
            User Password: <span sec:authentication="principal.password">Dummy Password</span><br />
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

            <div>
                <h3>Session details</h3>
                <div th:text="${#session}"> authentication</div>
                <div th:text="${session}"> authentication</div>
                <div th:text="${session.testattribute}"> authentication</div>
            </div>

            <div>
                <h3>Session Role details</h3>
                <div>
                    <table>
                        <tr th:each="role,iterationStatus : ${session.roles}">
                            <td th:text="${iterationStatus.index} + '&nbsp'">0</td>
                            <td th:text="${role.name} + ' some extra text'">name</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>